@using Wordle.Logic;

<div class="row">
	@for (int i = 0; i < 5; i++)
	{
		<span class="letter @($"l-{Attempt[i].Color}")">@Attempt[i].Letter</span>
	}
</div>

@code {
	[Parameter]
	public Attempt Attempt { get; set; }
}
