@using Wordle.Logic;

<div class="row">
	@foreach (var letter in Attempt.Letters)
	{
		<span class="letter @($"l-{LetterColors[letter]}")">@letter</span>
	}
</div>

@code {
	[Parameter]
	public Attempt Attempt { get; set; }

	[Parameter]
	public Dictionary<char, LetterColor> LetterColors { get; set; }
}
