@using Wordle.Logic;
<button class="key @($"l-{LetterColors[Letter]}")" @onclick="NotifyParent">@Letter</button>

@code {
	[Parameter]
	public char Letter { get; set; }

	[Parameter]
	public Dictionary<char, LetterColor> LetterColors { get; set; }

	[Parameter]
	public EventCallback<char> Pressed { get; set; }

	private void NotifyParent() =>
		Pressed.InvokeAsync(Letter);
}
