@inherits LayoutComponentBase

<div class="page">
	<main>
		<div class="bg-container">
			<div class="container">
				<article class="content px-4">
					@Body
				</article>

				<Footer></Footer>
			</div>
		</div>
	</main>
</div>
